<div class="fields">
	<div class="fieldset">
		<div>
			<div class="row enable">
				<div>
					<label class="custom_checkbox" data-bind="css: {'checked': enable}">
						<span class="icon"></span>
						<input type="checkbox" id="enable_ar" data-bind="checked: enable" />
					</label>
					<label for="enable_ar" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENABLE_AUTORESPONDER'}"></label>
				</div>
			</div>
			<div class="row scheduled" data-bind="visible: allowScheduledAutoresponder">
				<div class="label">
					<label class="custom_checkbox" data-bind="css: {'checked': scheduled, 'disabled': !enable()}">
						<span class="icon"></span>
						<input type="checkbox" id="scheduled_ar" data-bind="checked: scheduled, disable: !enable()" />
					</label>
					<label for="scheduled_ar" data-bind="css: {'disabled': !enable()}, i18n: {'key': '%MODULENAME%/LABEL_SCHEDULED_AUTORESPONDER'}"></label>
				</div>
				<div class="value" style="display: inline-flex; align-items: center;">
					<div class="start_date">
						<input class="date input" type="text" style="width: 138px;" spellcheck="false" readonly="readonly"
							data-bind="initDom: startDateDom, disable: !(enable() && scheduled()), css: {'disabled': !(enable() && scheduled())}" />
						<!-- <span class="custom_selector" data-bind="css: {'disabled': !(enable() && scheduled())}, customSelect: {'control': false, 'options': timeOptions, value: startTime}">
							<span class="value time input" style="width: 60px;" data-bind="text: startTime"></span>
							<span class="dropdown">
								<span class="dropdown_helper">
									<span class="dropdown_arrow"><span></span></span>
									<span class="dropdown_content"></span>
								</span>
							</span>
						</span> -->
					</div>
					<div style="width: 3em; text-align: center;">&mdash;</div>
					<div class="end_date">
						<input class="date input" type="text" style="width: 138px;" spellcheck="false" readonly="readonly"
							data-bind="initDom: endDateDom, disable: !(enable() && scheduled()), css: {'disabled': !(enable() && scheduled())}" />
						<!-- <div class="custom_selector" data-bind="css: {'disabled': !(enable() && scheduled())}, customSelect: {'control': false, 'options': timeOptions, value: endTime}">
							<span class="value time input" style="width: 60px;" data-bind="text: endTime"></span>
							<span class="dropdown">
								<span class="dropdown_helper">
									<span class="dropdown_arrow"><span></span></span>
									<span class="dropdown_content"></span>
								</span>
							</span>
						</div> -->
					</div>
				</div>
			</div>
			<div class="row subject" data-bind="css: {'disabled': !enable()}">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SUBJECT'}"></span>
				<input class="value input" spellcheck="false" type="text" data-bind="value: subject, disable: !enable()" />
			</div>
			<div class="row message" data-bind="css: {'disabled': !enable()}">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_MESSAGE'}"></span>
				<textarea class="input" data-bind="value: message, disable: !enable()"></textarea>
			</div>
		</div>
	</div>
	<div class="buttons">
		<span class="button" data-bind="click: save, i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}, visible: !isSaving()"></span>
		<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></span>
	</div>
</div>
