<div class="panel_top">
	<div class="buttons">
		<span class="button add_account_button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_ADD_NEW_SERVER'}, click: addServer"></span>
	</div>
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SERVERS_SETTINGS'}"></h2>
</div>

<div class="panel_center">
	<div class="fields" data-bind="visible: servers().length === 0 && !createMode()">
		<div class="fieldset">
			<div class="hint" style="margin: 0;" data-bind="i18n: {'key': '%MODULENAME%/INFO_NO_SERVERS'}"></div>
		</div>
	</div>
	<div data-bind="visible: createMode() || servers().length > 0">
		<div class="items_list account_list" data-bind="visible: !createMode()">
			<div data-bind="foreach: servers">
				<div class="item account" data-bind="css: {'selected': id() === $parent.editedServerId()},  click: function () {$parent.editServer(id());}">
					<span class="title" data-bind="text: name()"></span>
				</div>
			</div>
		</div>
		<div class="tabs" data-bind="visible: createMode() || editedServerId() !== 0">
			<div class="tabs_container">
				<div class="tab">
					<div class="fields">
						<div class="fieldset">
							<div class="row">
								<!-- ko template: {name: '%ModuleName%_Settings_ServerPropertiesView', data: oIncoming} --><!-- /ko -->
							</div>
							
							<div class="row">
								<!-- ko template: {name: '%ModuleName%_Settings_ServerPropertiesView', data: oOutgoing} --><!-- /ko -->
							</div>

							<div class="row">
								<div>
									<label class="custom_checkbox" data-bind="css: {'checked': useSmtpAuthentication}">
										<span class="icon"></span>
										<input type="checkbox" id="mail_out_auth" data-bind="checked: useSmtpAuthentication" />
									</label>
									<label for="mail_out_auth" data-bind="i18n: {'key': '%MODULENAME%/LABEL_USE_SMTP_AUTHENTICATION'}"></label>
								</div>
							</div>
						</div>

						<div class="buttons">
							<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}, click: save, visible: !createMode() && !isSaving()"></span>
							<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}, visible: !createMode() && isSaving()"></span>
							<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CREATE'}, click: create, visible: createMode() && !isSaving()"></span>
							<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CREATING_IN_PROGRESS'}, visible: createMode() && isSaving()"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
