.buttons {
	margin-left: 7px;

	.add_account_button {
		.button_mixin(@theme-add-account-button-color);
	}
	
	.contour_button {
		color: @theme-buttons-primary-background;
	}
	
	.contour_button, .contour_button:hover {
		background: white !important;
		text-shadow: none !important;
	}
	
	.toolbar & {
		margin: 0;
		padding: 0;

		.button {
			padding: 5px 20px 4px;
			text-shadow: none;
		}
	}

	.item.buttons_send_arrow {
		padding-left: 0 !important;
		margin-left: -11px !important;

		.button {
			height: 100%;
			padding: 0 7px;
			vertical-align: middle;
		}

		.arrow {
			margin-top: 7px;
			font-family: 'afterlogic';
		}
	}

	.dropdown_content {
		background: @theme-buttons-primary-background;
		border: 1px solid darken(@theme-buttons-primary-background, 10%);
		color: #ffffff;

		.item {
			text-align: left;
			color: inherit;
			font-size: 16px;
			opacity: 1 !important;

			&:hover {
				background: darken(@theme-buttons-primary-background, 5%);
				color: inherit;
			}

			&.disabled {
				color: mix(@theme-buttons-primary-background, #fff, 50%);
				&:hover {
					background: @theme-buttons-primary-background;
				}
			}
		}
	}
}
