<span class="item buttons">
	<span class="button" data-bind="command: sendCommand">
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_SEND'}"></span>
	</span>
</span>

<span class="item buttons buttons_send_arrow" data-bind="if: toolbarControllers().length > 0">
	<span class="button" data-bind="dropdown: {}">
		<span class="arrow control"></span>
		<span class="dropdown">
			<span class="dropdown_helper">
				<!-- ko foreach: toolbarControllers -->
					<!-- ko template: { name: $data.ViewTemplate, data: $data} --><!-- /ko -->
				<!-- /ko -->
			</span>
		</span>
	</span>
</span>
