<span class="item never-spam" data-bind="command: neverSpamCommand, visible: allowSpamButtons">
	<span class="icon" data-bind="customTooltip: '%MODULENAME%/ACTION_NEVER_SPAM'"></span>
	<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_NEVER_SPAM'}"></span>
</span>
<span class="item always-spam" data-bind="command: alwaysSpamCommand, visible: allowSpamButtons">
	<span class="icon" data-bind="customTooltip: '%MODULENAME%/ACTION_ALWAYS_SPAM'"></span>
	<span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_ALWAYS_SPAM'}"></span>
</span>
