<div class="buttons big_single_button">
	<span class="button" data-bind="command: $parent.bigButtonCommand">
		<span class="icon"></span>
		<span data-bind="text: $parent.bigButtonText"></span>
	</span>
	<span class="button button_new_private"
		  data-bind="command: $parent.privateComposeCommand, visible: $parent.allowPrivateMessages"
	>
		<span class="icon"></span>
		<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_NEW_PRIVATE_MESSAGE'}"></span>
	</span>
	<span class="button" data-bind="click: addNewFolder, visible: visibleNewFolderButton">
		<span class="icon"></span>
		<span data-bind="i18n: {'key': '%MODULENAME%/HEADING_NEW_FOLDER'}"></span>
	</span>
</div>

<!-- ko if: accounts().length > 0 -->
<div class="account_list" data-bind="foreach: accounts">
	<div class="account_item" data-bind="css: {'current_account': bCurrent}, click: changeAccount">
		<span data-bind="text: sText"></span>
		<span class="account_item__unseen" data-bind="text: unseenMessagesCount, visible: unseenMessagesCount() > 0,
			 click: function (data, event) { $parent.executeAccountUnseenFilter(event, hash); }, customTooltip: '%MODULENAME%/ACTION_SHOW_UNREAD_MESSAGES'"
		></span>
	</div>
</div>
<!-- /ko -->

<div class="middle_bar" data-bind="css: {'quota_visible': -1 < quotaProc(), 'quota_has_text_below': !bShowQuotaBarTextAsTooltip}">
	<div class="panel_center" style="overflow: hidden;">
		<div class="items_list collapsible"
		style="
	display: flex;
	flex-direction: column;
    height: 100%;
    max-height: none;
    overflow: hidden;
    position: relative;">
			<div data-bind="customScrollbar: {x: false}" style="max-height: 50%; height: auto; flex-shrink: 0; padding-bottom: 5px; box-shadow: 0 2px 2px rgb(0 0 0 / 15%);">
				<div class="scroll-inner" style="max-height: none;">
					<div class="folders" style="margin-bottom: 10px;" data-bind="visible: unifiedInboxAllowed">
						<!-- ko template: {name: '%ModuleName%_FolderView', data: oUnifiedInbox} --><!-- /ko -->
					</div>
					<div class="folders" data-bind="foreach: { data: folderList().collection, as: 'folder' }">
						<!-- ko template: {	name: '%ModuleName%_FolderView', data: folder, if: folder.type() !== Enums.FolderTypes.User } --><!-- /ko -->
					</div>
				</div>
			</div>
			<div data-bind="customScrollbar: {x: false}">
				<div class="scroll-inner">
					<div class="folders" data-bind="foreach: { data: folderList().collection, as: 'folder' }"
					style="background: rgb(0 0 0 / 3%);">
						<!-- ko template: {name: '%ModuleName%_FolderView', data: folder, if: folder.type() === Enums.FolderTypes.User} --><!-- /ko -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel_bottom">
		<div class="manage_folders" data-bind="visible: manageFoldersHash() !== '#'">
			<a href="javascript: void(0)" data-bind="i18n: {'key': '%MODULENAME%/ACTION_MANAGE_FOLDERS'}, attr: {href: manageFoldersHash}"></a>
		</div>
		<span class="volumer" data-bind="visible: -1 < quotaProc()">
			<span class="volumer_conteiner" data-bind="customTooltip: bShowQuotaBarTextAsTooltip ? quotaDesc() : false">
				<span class="used" data-bind="style: {'width': '' + (-1 < quotaProc() ? quotaProc() : 0) + '%' }"></span>
			</span>
			<span data-bind="visible: !bShowQuotaBarTextAsTooltip, text: quotaDesc"></span>
		</span>
	</div>
</div>
