<div class="html_editor" data-bind="css: {'inactive': inactive()}, onEsc: onEscHandler, initDom: htmlEditorDom">
	<div class="disable_mask" data-bind="visible: disableEdit"></div>

	<div class="workarea" data-bind="customScrollbar: {x: true, y: true}, initDom: workareaDom">
		<div class="scroll-inner" data-bind="attr: {'id': editorId}, initDom: editorDom"></div>
		<div style="display: none;" data-bind="initDom: uploaderAreaDom, css: {'active': editorUploaderBodyDragOver}" class="uploader_mask">
			<div class="inner"></div>
		</div>
	</div>
	
	<div class="inline_popup image_tooltip" data-bind="visible: imageSelected,
		 style: {'top': tooltipPopupTop() + 'px', 'left': tooltipPopupLeft() + 'px'},
		 text: tooltipText"></div>
	
	<div class="inline_popup" data-bind="visible: visibleLinkPopup, initDom: linkPopupDom">
		<a target="_blank" data-bind="text: linkHref, attr: {'href': linkHref}, click: function () { hideLinkPopup(); return true; }"></a>
		<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_CHANGE_URL'}, click: showChangeLink"></span>
		<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REMOVE'}, click: function () { oCrea.removeCurrentLink(); }"></span>
	</div>
	<div class="inline_popup" data-bind="visible: visibleLinkHref, initDom: linkHrefDom">
		<input type="text" spellcheck="false" data-bind="value: linkHref" />
		<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_OK'}, click: changeLink"></span>
		<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}, click: hideChangeLink"></span>
	</div>
	<div class="inline_popup" data-bind="visible: visibleImagePopup, 
			style: {'top': imagePopupTop() + 'px', 'left': imagePopupLeft() + 'px'}">
		<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_MAKE_IMAGE_SMALL'}, click: function () { resizeImage(Enums.HtmlEditorImageSizes.Small); }"></span>
		<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_MAKE_IMAGE_MEDIUM'}, click: function () { resizeImage(Enums.HtmlEditorImageSizes.Medium); }"></span>
		<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_MAKE_IMAGE_LARGE'}, click: function () { resizeImage(Enums.HtmlEditorImageSizes.Large); }"></span>
		<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_MAKE_IMAGE_ORIGINAL'}, click: function () { resizeImage(Enums.HtmlEditorImageSizes.Original); }"></span>
		<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_REMOVE'}, click: function () { oCrea.removeCurrentImage(); }"></span>
	</div>
</div>
