@import "./common/html-editor.less";
@import "./desktop/folders.less";
@import "./desktop/mail.less";
@import "./desktop/compose.less";
@import "./common/blockquote.less";
@import "./desktop/settings.less";
@import "./desktop/simple_list.less";
@import "./desktop/buttons.less";
@import "./desktop/table-compressor.less";
@import "./desktop/layout-horiz-split.less";

.settings .folders .controls .button {
	&.template {
		&:before {
			content: "\e90f";
		}

		&.turned-on {
			&:before {
				content: "\e90e";
			}
		}
	}
	&.always-refresh {
		&:before {
			content: "\e911";
		}

		&.turned-on {
			&:before {
				content: "\e910";
			}
		}
	}
	&.edit-folder {
		&:before {
			content: "\e62d";
		}
	}
}

.folders .item .icon.type8:before {
	content: "\e90e";
}

.folders_panel .account_list {
	border-bottom: solid 1px #d2d2d2;
	margin-bottom: 5px;
	padding-bottom: 3px;

	.account_item {
		border-radius: 15px;
		cursor: pointer;
		font-size: 11pt;
		margin: 2px 6px;
		overflow: hidden;
		padding: 6px 10px;
		text-overflow: ellipsis;
		white-space: nowrap;

		&::before {
			content: "\e638";
			display: inline-block;
			width: 20px;
			height: 16px;
			font-family: 'afterlogic';
			font-size: 20px;
			vertical-align: middle;
			margin-right: 4px;
			margin-top: -6px;
		}

		.account_item__unseen {
			float: right;
			cursor: pointer;
			padding: 2px 10px 1px;
			line-height: 1.3;

			&:hover {
				border-radius: ~"11px/10px";
				background: #334870;
				color: white
			}
		}

		&.current_account {
			@background: #a9b0bb;
			background: @background;
			color: white;
			cursor: default;

			.account_item__unseen {
				border-radius: ~"11px/10px";
				background: darken(@background, 5%);
				box-shadow: 0px 1px 1px lighten(@background, 5%) inset, 0px 1px 0px rgba(255, 255, 255, 0.3);

				&:hover {
					background: darken(@background, 10%);
				}
			}
		}
	}
}

.mail-servers-pagination {
	margin: -20px 25px 90px;
	
	.pagination {
		float: left;
		margin-top: 5px;
	}
	
	.search_block {
		float: left;
		width: 300px;
	}
}

.messages_search_block {
	padding-right: 0px;

	.messages_search_block__container {
		display: flex;
		flex-flow: row wrap;
		padding-bottom: 3px;
		border-radius: 13px;

		.messages_search_block__input_container {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			width: 100%;
		}

		.messages_search_block__input {
			flex-grow: 1;
		}

		.messages_search_block__button {
			background: #4f5984;
			border-radius: 20px;
			color: #ffffff;
			cursor: default;
			display: block;
			float: right;
			font-size: 8pt;
			font-weight: normal;
			margin: 0 3px 0 0;
			padding: 4px 8px 2px;
		}
		
		.extended {
			margin-top: 0;
		}
	}
}

.message_list_search_everywhere {
	.message_list_scroll {
		background: #f2f6fe;

		.list_notification {
			background: inherit;
		}

		.folder_marker {
			display: block;
		}

		.item:not(.selected):not(.checked) {
			background: inherit;

			&.unseen {
				background: #d6dce8;
			}
		}
	}
}
