@import "./common/html-editor.less";
@import "./desktop/folders.less";
@import "./desktop/mail.less";
@import "./desktop/compose.less";
@import "./common/blockquote.less";
@import "./desktop/settings.less";
@import "./desktop/simple_list.less";
@import "./desktop/buttons.less";
@import "./desktop/table-compressor.less";
@import "./desktop/layout-horiz-split.less";

.settings .folders .controls .button {
	&.template {
		&:before {
			content: "\e90f";
		}

		&.turned-on {
			&:before {
				content: "\e90e";
			}
		}
	}
	&.always-refresh {
		&:before {
			content: "\e911";
		}

		&.turned-on {
			&:before {
				content: "\e910";
			}
		}
	}
	&.edit-folder {
		&:before {
			content: "\e62d";
		}
	}
}

.folders .item .icon.type8:before {
	content: "\e90e";
}

.folders_panel .account_list {
	border-bottom: solid 1px #d2d2d2;
	margin-bottom: 5px;
	padding-bottom: 3px;

	.account_item {
		border-radius: 15px;
		cursor: pointer;
		font-size: 11pt;
		margin: 2px 6px;
		overflow: hidden;
		padding: 6px 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
		
		&.current_account {
			background: #a9b0bb;
			color: white;
			cursor: default;
			
			&::before {
				content: "\e638";
				display: inline-block;
				width: 20px;
				height: 16px;
				font-family: 'afterlogic';
				font-size: 20px;
				vertical-align: middle;
				margin-right: 4px;
				margin-top: -6px;
			}
		}
	}
}

.mail-servers-pagination {
	margin: -20px 25px 90px;
	
	.pagination {
		float: left;
		margin-top: 5px;
	}
	
	.search_block {
		float: left;
		width: 300px;
	}
}

.global_search_marker {
	display: none;
}

.use_global_search:not(.advanced_search) {
	.search_block > .input .field {
		width: calc(100% - 80px);
	}
	
	.global_search_marker {
		background: #f1f1f1;
		border-radius: 10px;
		color: #cccccc;
		cursor: default;
		display: block;
		float: right;
		font-size: 8pt;
		font-weight: normal;
		margin: 0 3px;
		padding: 3px 11px;
	}
}

.message_list_search_everywhere.use_global_search:not(.advanced_search) {
	.global_search_marker {
		background: #4f5984;
		color: white;
	}
}

.message_list_search_everywhere {
	.message_list_scroll {
		background: #f2f6fe;

		.list_notification {
			background: inherit;
		}

		.item:not(.selected):not(.checked) {
			background: inherit;

			&.unseen {
				background: #d6dce8;
			}
		}
	}
}

.custom_mail_tag_edit_panel {
	h2 {
		margin: 0;
	}

	.buttons {
		display: inline-block;
	}
}

.custom_mail_tag {
	background: white;
	border-radius: 10px;
	color: black;
	cursor: default;
	display: inline-block;
	font-size: 10pt;
	font-weight: normal;
	margin: 5px 1px 0 0;
	padding: 2px 8px;
	position: relative;

	.user-select(none);

	&.custom_mail_tag_allow_delete {
		padding: 2px 22px 2px 8px;
	}

	&.custom_mail_tag_colored {
		color: white;
	}

	.ficon {
		cursor: pointer;
		font-size: 13px;
		margin: -2px 7px 0px 0px;
		outline: none;
		padding: 0px;
		position: absolute;
		right: 0;
		text-decoration: none;
	}
}

.custom_mail_tag_edit_list {
	display: inline-block;
	width: calc(100% - 150px);
	margin-top: -5px;
	vertical-align: top;
}

.custom_mail_tag_reset_link {
	float: right;
	margin-right: 5px;
}

.custom_mail_tag_list {
	margin: -5px 7px 5px;
}
